.sidebar {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  background-color: var(--second-bg-color);
  width: 520px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.3s;
}

.sidebar_open {
  transform: translateX(0);
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 160px 0 90px;
}

@media screen and (max-width: 520px) {
  .sidebar {
    width: 100vw;
  }

  .sidebar__wrapper {
    margin: 144px 0 46px;
  }
}
