.profile {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.profile__wrapper {
  width: 410px;
  margin: 74px 0 70px;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  margin-bottom: 107px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profile__btn-logout {
  text-decoration: none;
  color: #ee3465;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;

  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s;
}

.link-disabled {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.profile__btn-logout:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .profile__wrapper {
    margin: 236px 0 269px;
  }

  .profile__title {
    margin-bottom: 82px;
  }
}

@media screen and (max-width: 520px) {
  .profile__wrapper {
    margin: 70px 0 40px;
    min-width: 260px;
    padding: 0 calc(var(--padding-mobile) + 12px);
  }

  .profile__title {
    margin-bottom: 65px;
    font-size: 24px;
  }

  .profile__btn-logout {
    font-size: 12px;
  }
}
