.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.App__token-check {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
