.movies-card-list {
  display: flex;
  flex-direction: column;
  gap: 78px;
  margin-bottom: 77px;
}

.movies-card-list__items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px 20px;
  margin-top: 117px;
}

.movies-card-list__empty {
  margin: 0;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .movies-card-list__items {
    margin-top: 129px;
    gap: 36px 30px;
  }

  .movies-card-list__empty {
    font-size: 24px;
  }
}

@media screen and (max-width: 520px) {
  .movies-card-list__items {
    margin-top: 89px;
    gap: 19px;
  }
}
