.filter {
  display: block;
}
input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked + .filter__tumbler {
  background-color: #3ddc84;
}

input[type='checkbox']:checked + .filter__tumbler:after {
  left: 18px;
}

.filter__label {
  cursor: pointer;
  display: flex;
  gap: 14px;
}

.filter__tumbler {
  transition: all 200ms ease-in-out;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 36px;
  border-radius: 40px;

  background-color: #ddd;
  color: transparent;
}

.filter__tumbler:after {
  transition: all 200ms ease-in-out;
  content: ' ';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  right: auto;
  box-shadow: 1px 1px 1px gray;
}

.filter__text {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  transition: opacity 0.3s;
}

.filter__label:hover > .filter__text {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .filter__label {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 520px) {
  .filter {
    margin: 0 auto;
  }
  .filter__label {
    flex-direction: row-reverse;
  }

  .filter__text {
    font-size: 11px;
  }
}
