.header {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
}

.header_page_main {
  background-color: var(--first-bg-color);
}

.header__wrapper {
  max-width: var(--width-pc);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
  width: 100%;
  padding-left: var(--padding-pc);
  padding-right: var(--padding-pc);
}

/* .header__nav {
  margin-left: 65px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.header__nav-item-burger {
  margin-bottom: 32px;
}

.header__nav-item-burger:last-child {
  margin-bottom: 0;
}

.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 4px;
  transition: opacity 0.3s;
}

.header__nav-link_active {
  font-weight: 500;
}

.header__nav-link-burger_active {
  border-bottom: 2px solid #ffffff;
  cursor: default;
} */

/* .header__account {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

.header__account:hover .header__account-text,
.header__account:hover .header__account-circle,
.header__nav-link:hover {
  opacity: 0.7;
} */

/* .header__nav-link_active:hover,
.header__nav-link-burger_active:hover,
.header__account:hover .header__nav-link_active {
  opacity: 1;
  cursor: default;
} */

/* .header__account-text {
  color: #fff;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  padding: 9.5px 0 9.5px 11px;
  transition: opacity 0.3s;
}

.header__account-circle {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  transition: opacity 0.3s;
}

.header__account-circle_page_main {
  background: #0f4157;
}

.header__account-circle-burger {
  background: #313131;
}

.header__account-burger {
  display: flex !important;
  align-self: center;
  background: #202020;
} */

@media screen and (max-width: 990px) {
  .header__wrapper {
    padding: 18px calc(var(--padding-tablet) - 20px);
  }
}

@media screen and (max-width: 520px) {
  .header__wrapper {
    padding: 18px calc(var(--padding-mobile) - 4px);
  }
  .header__nav-item-burger {
    margin-bottom: 27px;
  }

  .header__nav-link-burger_active {
    padding-bottom: 8px;
  }
}
