.header {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
}

.header_page_main {
  background-color: var(--first-bg-color);
}

.header__wrapper {
  max-width: var(--width-pc);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
  width: 100%;
  padding-left: var(--padding-pc);
  padding-right: var(--padding-pc);
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 18px calc(var(--padding-tablet) - 20px);
  }
}

@media screen and (max-width: 520px) {
  .header__wrapper {
    padding: 18px calc(var(--padding-mobile) - 4px);
  }
  .header__nav-item-burger {
    margin-bottom: 27px;
  }

  .header__nav-link-burger_active {
    padding-bottom: 8px;
  }
}
