.login {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.login__wrapper {
  width: 396px;
  margin-top: 70px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__title {
  margin: 0;
  margin-bottom: 38px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.login__label {
  color: #8b8b8b;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 10px;
}

.login__error {
  margin: 0;
  color: #ee3465;
  font-size: 10px;
  line-height: normal;
  visibility: hidden;
}

.login__error_active {
  visibility: visible;
}

.login__input {
  color: #fff;
  font-size: 13px;
  line-height: normal;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  margin-bottom: 20px;
}

.login__input:last-of-type {
  margin-bottom: 10px;
}

.login__input-error {
  color: #ee3465;
}

.login__btn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: #4285f4;
  padding: 15px 0;
  margin-bottom: 16px;
  margin-top: 158px;
  text-align: center;
  border-radius: 3px;
  transition: opacity 0.3s;
}

.login__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__signin-question {
  margin: 0;
  color: #8b8b8b;
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

.login__signin-link {
  color: #4285f4;
  text-decoration: none;
  transition: opacity 0.3s;
}

.login__signin-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login {
    align-items: center;
  }

  .login__wrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 520px) {
  .login__wrapper {
    min-width: 260px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
  }

  .login__form {
    width: 100%;
  }

  .login__logo {
    margin-bottom: 50px;
  }

  .login__title {
    margin-bottom: 80px;
  }

  .login__btn {
    margin-top: 245px;
    font-size: 12px;
  }

  .login__signin-question {
    font-size: 12px;
  }
}
