@import url('./vendor/fonts/inter.css');

:root {
  --tablet-resolution: 990px;
  --mobile-resolution: 520px;

  --first-bg-color: #073042;
  --second-bg-color: #202020;
  --third-bg-color: #272727;

  --width-pc: 1280px;
  --width-tablet: 768px;
  --width-mobile: 320px;

  --padding-pc: calc((var(--width-pc) - 1140px) / 2);
  --padding-tablet: calc((var(--width-tablet) - 668px) / 2);
  --padding-mobile: calc((var(--width-mobile) - 284px) / 2);
}
