.field {
  color: #8b8b8b;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 10px;
}

.field__input {
  color: #fff;
  font-size: 13px;
  line-height: normal;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  margin-bottom: 20px;
}

.field__input:focus {
  outline-color: #424242;
  outline-style: solid;
  outline-width: 3px;
}

.field__input_error,
.field__input_error:focus {
  color: #ee3465;
  outline-color: #ee3465;
}

.field__input:last-of-type {
  margin-bottom: 10px;
}
